{% extends "general/base.html" %}

{% load static %}

{% block customCss %}
	<link rel="stylesheet" href="{% static 'profile/css/style.css' %}">
{% endblock %}
{% block title %}History{% endblock %}

{% block content %}

<div class="container">

	<div class="row justify-content-center">
		<h1 class="mx-auto">Hello {{ user.username }}!</h1>
	</div>
	<div class="row my-3">
		<h1>Your recent queries:</h1>
	</div>
	{% ifequal user.userhistory_set.count 0 %}
		<div class="row justify-content-center">
			<h2>No recent history (yet)!</h2> 
		</div>
	{% else %}

		<div class="row justify-content-center mt-4 mx-1">
				<div class="col-3 col-md-2 d-flex h4 justify-content-left py-2 mb-0 border">No</div>
				<div class="col-4 d-flex h4 justify-content-center py-2 mb-0 border-top border-bottom border-right">Service</div>
				<div class="col-5 col-md-6 d-flex h4 justify-content-center py-2 mb-0 border-top border-bottom border-right">Item</div>
		</div>
		{% for data in user.userhistory_set.all reversed %}
			<div class="row mx-1">
				<div class="col-3 col-md-2 d-flex justify-content-left py-3 border-left border-bottom border-right">{{ forloop.counter }}</div>
				<div class="col-4 d-flex justify-content-center py-3 border-bottom border-right">{{ data.operation_name }}</div>
				<div class="col-5 col-md-6 d-flex justify-content-center py-3 border-bottom border-right"><img src="{{ data.objectphoto }}" alt ="no preview found" class="img-fluid img-thumbnail profile_photo"></div>
			</div>
		{% endfor %}

	{% endifequal %}

</div>

{% endblock %}