{% extends "general/base.html" %}
{% load static %}

{% block customCss %}
{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
	<h2>Login</h2>
	<form method="post" class="mt-3">
	  {% csrf_token %}
	  {{ form.as_p }}
	  <button class="btn-lg brown_button mr-3" type="submit" id="login_button">Login</button>
	  
	  <!-- <a href="{% url 'profile:register' %}" class="btn-lg brown_button py-2" id="register_button">
          Register
      </a> -->
	</form>
	<button class="btn-lg brown_button mr-3 mt-2" id="register_button" onclick="gotoreg()">Register</button>
</div>

<script>
	function gotoreg() {
		location.href = "/profile/register/";
	}
</script>
{% endblock %}