{% extends "general/base.html" %}
{% load static %}

{% block customCss %}
{% endblock %}
{% block title %}Register{% endblock %}

{% block content %}

<div class="container">
	<h2>Register a new Account!</h2>
	<form method="post" action="." class="mt-3">
	  {% csrf_token %}
	  {{ form.as_p }}
	  <button class="btn-lg brown_button" type="submit" id="register_button">Register</button>
	</form>
	<!-- <h3>{{ errors }}</h3> -->
</div>

{% endblock %}