body {
    font-family: 'Open Sans', sans-serif;
}

.preview_photo {
	max-width: 15em;
	max-height: 15em;
}

#image{
	max-width: 10em;
	max-height: 10em;
}

.mid {
    text-align: center;
}

.button {
    background-color: #7E685A;
    border-radius: 10px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#submit_form{
    text-align: center;
}