.history_photo {
    width: 6em;
    height: 6em;
}

#auth_button .btn {
	border-color: black
}

.udr {
    text-decoration: underline;
}
/* customize bootstrap navbar,
source: https://stackoverflow.com/questions/43381596/bootstrap-4-navbar-color; */
/* change the brand and text color */
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text,
.navbar-custom .navbar-brand:hover {
    color: white;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active.nav-link,
.navbar-custom .nav-item:focus.nav-link,
.navbar-custom .nav-item:hover.nav-link {
    color: 7e685a;
}

/* change the background color */
.navbar-custom {
    background-color: #e7717d;
}

.navbar-custom .navbar-toggler {
	border-color: white
}

.navbar-custom .navbar-toggler:focus {
	outline:none;
	margin: 0px;
}
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
}