{% extends 'general/base.html' %}
{% load static %}

{% block title %}About item{% endblock %}

{% block customCss %}
<link rel="stylesheet" href="{% static 'about_item/css/about_item.css' %}">
<script src="{% static 'about_item/js/edit_content.js' %}"></script>
<script src="{% static 'general/js/history.js' %}"></script>
<script src="{% static 'about_item/js/about_item.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mid">
    <div class="row mid-ver height">
        <div class="mid col">
            <form id="submit_form" enctype="multipart/form-data" action="{% url 'about_item:post_data' %}" method="post">
                <br>
                <br>
                <br>
                {% csrf_token %}
                <br>
                <br>
                {{ form.as_p }}
                <br>

                <button id="submit_button" class="button" type="submit" class="btn">Upload</button>
                <br>
                <hr>
            </form>
        </div>
    </div>

    <img src="{% static 'cek_item/assets/loading.gif' %}" id="loading_content" class="mx-auto" style="display: none;">
    <div id="content" style="display: none;">
        <br>
        <div class="row mid-ver height">          
            <div class="mid col">
                <h3 class="udr"> Details </h3>
                <span><img id="image" class="bag-img preview_photo"></span>
                <br>
	   			<h4>Material : <span id="material_data"></span></h4>
	   			<h4>Price : Rp.<span id="price_data"></span></h4>
	   			<h4>Year Released : <span id="year_data"></span></h4>
	   		</div>
	   		<hr>
        </div>

        <br>
        <hr>
    </div>
</div>

{% endblock %}