body {
    font-family: 'Open Sans', sans-serif;
}

.button {
    background-color: #7E685A;
    border-radius: 10px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}


.item {
    object-fit: cover;
    max-height: 100vh;
}

.button:after {
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.map {
    width: 35vw;
}

.block {
    display: block;
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.height {
    min-height: 50vh;
}

#bag-img {
    width: 30vw;

}

.padtop {
    padding-top: 20vh;
}

.padtop2 {
    padding-top: 10vh;
}
.arrow {
    width: 9vw;
}
