{% extends "general/base.html" %}
{% load static %}

{% block title %}Check Item{% endblock %}

{% block customCss %}
<link rel="stylesheet" href="{% static 'cek_item/css/cek_item.css' %}">
<script src="{% static 'cek_item/js/edit_content.js' %}"></script>
<script src="{% static 'general/js/history.js' %}"></script>
<script src="{% static 'cek_item/js/cek_item.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mid">
    <div class="row mid-ver height">
        <form id="submit_form" enctype="multipart/form-data" action="{% url 'cek_item:post_data' %}" method="post">
            <br>
            <br>
            <br>
            {% csrf_token %}
            <br>
            <br>
            {{ form.as_p }}
            <br>
            <br>

            <button id="submit_button" class="button" type="submit" class="btn">Upload</button>
        </form>
        <hr>
    </div>

    <img src="{% static 'cek_item/assets/loading.gif' %}" id="loading_content" class="mx-auto" style="display: none;">
    <div id="content" style="display: none;">

        <div class="row mid-ver height">
            <div class="mid loc">
                <h3 class="udr"> Your Item </h3>
                <span><img id="image" class="bag-img preview_photo" ></span>
            </div>

            <div class="mid"><h3>The item is <span id="genuine_desc"></span></h3></div>


        </div>


        <div id="celebs" class="row mid-ver height" style="display: none">

            <div class="mid mb-3"><h3 class="udr">The item is also used by </h3>
            </div>
            <br/>

            <div class="row" id="celeb_photos">
            </div>

        </div>

    </div>

</div>

{% endblock %}
