{% extends 'general/base.html' %}
{% load static %}

{% block title %}Compare item{% endblock %}

{% block customCss %}
<link rel="stylesheet" href="{% static 'compare_item/style.css' %}">
<script src="{% static 'compare_item/script.js' %}"></script>
<script src="{% static 'general/js/history.js' %}"></script>
{% endblock %}

{% block content %}
	<section class="compare block" >
        <div class="row">
            <div class="col-md-12 form">
                {% if not form %}
                    NO FORM
                {% endif %}
                <form id="submit_form" enctype="multipart/form-data" action="{% url 'compare_item:compare' %}" method="post">
                    {% csrf_token %}
	   	        	{{ form.as_p }}
	   		        <button id="submit_button" type="submit" class="btn">Compare!</button>
	   	        </form>
            </div>
        </div>

        <img src="{% static 'cek_item/assets/loading.gif' %}" id="loading_content" class="mx-auto" style="display: none;">
        <div id="content" style="display:none">

            <div class="row">
                <div class="col-md-12">
                    <h3>Original Item</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span><img id="img1" class="bag-img preview_photo" ></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>The item is <span id="genuine_desc"></span>!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span><img id="img2" class="bag-img preview_photo" ></span>
                </div>
            </div>
            
                <div class="details row show-item" style="display: none;">
                    <div class="col-md-3">
                        <h4><strong>Brand</strong></h4>
                        <p id="brand"></p>
                    </div>
                    <div class="col-md-3">
                        <h4><strong>Price</strong></h4>
                        <p id="price"></p>
                    </div>
                    <div class="col-md-3">
                        <h4><strong>Release Date</strong></h4>
                        <p id="date"></p>
                    </div>
                    <div class="col-md-3">
                        <h4><strong>Location</strong></h4>
                        <p id="location"></p>
                    </div>          
                </div>
        </div>
                
        
        <div class="row">
            <div class="col-md-12 check-other">
                <a href="{% url 'compare_item:home' %}"><button type="button" class="btn btn-outline-primary">COMPARE OTHER ITEM</button></a>
            </div>
        </div>
    </section>
{% endblock %}