{% extends 'general/base.html' %}
{% load static %}

{% block title %}Check Map{% endblock %}

{% block customCss %}

    <link rel="stylesheet" href="{% static 'fathinah/style.css' %}">
    <script src="{% static 'fathinah/js/script.js' %}"></script>
    <script src="{% static 'general/js/history.js' %}"></script>


{% endblock %}

{% block content %}

    <div class="container block">

        <div class="row height flex">
            <div class="padtop">
                {% if not form %}
                    TIDAK ADA FORM
                {% endif %}
                <form id="submit_form" enctype="multipart/form-data" action="{% url 'cek_peta:post_data' %}"
                      method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button id="button" type="submit" class="button">UPLOAD</button>
                    <h6>Upload item here</h6>
                </form>
            </div>
        </div>
        <img src="{% static 'cek_item/assets/loading.gif' %}" id="loading_content" class="mx-auto"
             style="display: none;">
        <div id="content" style="display: none;">
            <div class="height">
                <h3> Your Item </h3>
                <img id="bag-img" src="">
            </div>

            <div id="display-part">
                <h3 class="padtop2">Result</h3>
                <div class="">

                    <img id="map" class="map col-lg-5">
                    <img class="arrow" src="{% static 'fathinah/arrow.png' %}">

                    <img id="city" class="map col-lg-4">


                </div>
                <div class="padtop2">
                    <p>The item is originated from <br>
                        <span id="kota" style="font-weight: bold;font-size: 2em"> </span>
                        <span style="font-weight: bolder">,</span>
                        <span id="negara" style="font-weight: bold;font-size: 2em"> </span>

                    </p>
                </div>
            </div>


        </div>
    </div>


{% endblock %}








